# Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
logs/
*.log

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyTest cache
.pytest_cache/

# MyPy cache
.mypy_cache/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
